.card {
   border: .5px solid lightgrey;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   margin-bottom: 20px;
   background: linear-gradient(90deg, rgba(236, 232, 232, .7), rgba(156, 150, 150, 0.7));   
}