body {
   margin: 0;
}

.profile {
   background: linear-gradient(90deg,rgba(241, 235, 235, 0.7), rgba(163, 157, 157, 0.7));
   padding: 10px 0;
   box-shadow: 5px 8px 8px #c7c5c5;
   width: 95%;
   margin: 0 auto;
   border-radius: 5px;
}

.profilePic {
   width: 250px;
   display: block;
   margin: 0 auto;
   border-radius: 50%;
}

.socialMedia {
   display: flex;
   justify-content: center;
}
.socialMedia img {
   width: 40px;
   height: 40px;
   margin: 0 5px;
}

.description {
   display: block;
   width: 90%;
   margin: 20px auto;
   font-style: italic;
   line-height: 1.3rem;
}

button {
   padding: 10px 10px;
   border: .5px solid lightgrey;
   border-radius: 3px;
   background-color: rgb(247, 236, 236);
   display: block;
   margin: 20px auto;
   transition: .3s;
   cursor: pointer;
   font-size: 20px;
}

button:hover {
   background-color: rgb(209, 209, 209);
}

.productList {
   width: 95%;
   margin: 0 auto;
   display: grid;
   grid-gap: 10px;
}

@media only screen and (min-width: 1024px) {
   .profile {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      width: 90%;
   }
   .description {
      width: 60%;
      line-height: 1.8rem;
      letter-spacing: 1px;
      font-size: 18px;
      padding-right: 10%;
      margin-left: 0;
   }
   .productList {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
   .description {
      width: 80%;
   }
   .productList {
      grid-template-columns: repeat(2, 1fr);
   }
}